<?xml version="1.0"?>
<launch>

    <param name="use_sim_time" value="true"/>

<!---->
    <node pkg="stefmap_ros" type="stefmap_node_online.py" name="stefmap_node" output="screen">
    	<param name="grid_size" value="1"/>  
		  <param name="x_min" value="-40" />
    	<param name="x_max" value="40" />
    	<param name="y_min" value="-40" />
    	<param name="y_max" value="40" />
    	<param name="interval_time" value="10" />
    	<param name="num_bins" value="8" />
    	<param name="frame_id" value="world" />
    	<param name="people_detections_topic" value="/groundtruth/detected_persons/posearray" />
    	<param name="coverage_laser_topic" value="/robot4/sensors/laser2d_floor" />
    	<param name="coverage_time_update" value="5" />
    </node>

	<node pkg="fremenarray" type="fremenarray" name="fremenarray" output="screen">
    </node>
    
    <node pkg="stefmap_ros" type="spencermsgs_to_posearray.py" name="spencermsgs_to_posearray" output="screen">
        <param name="people_detections_topic" value="/groundtruth/detected_persons"/>
    </node>


</launch>